<h1>Request Bitcoin Price</h1>

<%= form_for(@price) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :symbol %><br>
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :reqdate %><br>
    <%= f.text_field :reqdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<!--   <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
 -->
