<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @price.symbol %>
</p>

<p>
  <strong>Price:</strong>
  <%= @price.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @price.reqdate %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
